# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Virtual Environments
# =========================
.env
.venv

# =========================
# Logs
# =========================
logs/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Raw Data (keep README only)
# =========================
data/raw/*
!data/raw/README.md

# =========================
# Generated / Processed Data
# =========================
data/processed/
data/Sector/
data/SE.txt
